# Maven
target/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Java
*.class

# Environment
.env

# Node
node_modules/